
data/003_eyegaze_checks_at_feedback.png
data/003_eyegaze_within_stim.csv
data/003_FirstGaze_stimOn.csv
data/003_gaze_within_stim.csv
data/003_looked_left_and_right_at_feedback.png
data/003_trials_with_present_gazedata_while_stimulus_on.csv
data/004_FirstGaze_stimOn.csv
data/004_gaze_within_stim.csv
data/004_trials_with_present_gazedata_while_stimulus_on.csv
data/005_FirstGaze_stimOn.csv
data/005_gaze_within_stim.csv
data/005_trials_with_present_gazedata_while_stimulus_on.csv
data/006_FirstGaze_stimOn.csv
data/006_gaze_within_stim.csv
data/006_trials_with_present_gazedata_while_stimulus_on.csv
data/007_FirstGaze_stimOn.csv
data/007_gaze_within_stim.csv
data/007_trials_with_present_gazedata_while_stimulus_on.csv
data/008_FirstGaze_stimOn.csv
data/008_gaze_within_stim.csv
data/008_trials_with_present_gazedata_while_stimulus_on.csv
data/009_FirstGaze_stimOn.csv
data/009_gaze_within_stim.csv
data/009_trials_with_present_gazedata_while_stimulus_on.csv
data/010_FirstGaze_stimOn.csv
data/010_gaze_within_stim.csv
data/010_trials_with_present_gazedata_while_stimulus_on.csv
data/011_FirstGaze_stimOn.csv
data/011_gaze_within_stim.csv
data/011_trials_with_present_gazedata_while_stimulus_on.csv
data/012_FirstGaze_stimOn.csv
data/012_gaze_within_stim.csv
data/012_trials_with_present_gazedata_while_stimulus_on.csv
data/013_FirstGaze_stimOn.csv
data/013_gaze_within_stim.csv
data/013_trials_with_present_gazedata_while_stimulus_on.csv
data/014_FirstGaze_stimOn.csv
data/014_gaze_within_stim.csv
data/014_trials_with_present_gazedata_while_stimulus_on.csv
data/015_FirstGaze_stimOn.csv
data/015_gaze_within_stim.csv
data/015_trials_with_present_gazedata_while_stimulus_on.csv
data/016_FirstGaze_stimOn.csv
data/016_gaze_within_stim.csv
data/016_trials_with_present_gazedata_while_stimulus_on.csv
data/017_FirstGaze_stimOn.csv
data/017_gaze_within_stim.csv
data/017_trials_with_present_gazedata_while_stimulus_on.csv
data/018_FirstGaze_stimOn.csv
data/018_gaze_within_stim.csv
data/018_trials_with_present_gazedata_while_stimulus_on.csv
data/019_FirstGaze_stimOn.csv
data/019_gaze_within_stim.csv
data/019_trials_with_present_gazedata_while_stimulus_on.csv
data/020_FirstGaze_stimOn.csv
data/020_gaze_within_stim.csv
data/020_trials_with_present_gazedata_while_stimulus_on.csv
data/021_FirstGaze_stimOn.csv
data/021_gaze_within_stim.csv
data/021_trials_with_present_gazedata_while_stimulus_on.csv
data/022_FirstGaze_stimOn.csv
data/022_gaze_within_stim.csv
data/022_trials_with_present_gazedata_while_stimulus_on.csv
data/023_FirstGaze_stimOn.csv
data/023_gaze_within_stim.csv
data/023_trials_with_present_gazedata_while_stimulus_on.csv
data/024_FirstGaze_stimOn.csv
data/024_gaze_within_stim.csv
data/024_trials_with_present_gazedata_while_stimulus_on.csv
data/025_FirstGaze_stimOn.csv
data/025_gaze_within_stim.csv
data/025_trials_with_present_gazedata_while_stimulus_on.csv
data/026_FirstGaze_stimOn.csv
data/026_gaze_within_stim.csv
data/026_trials_with_present_gazedata_while_stimulus_on.csv
data/027_FirstGaze_stimOn.csv
data/027_gaze_within_stim.csv
data/027_trials_with_present_gazedata_while_stimulus_on.csv
data/028_FirstGaze_stimOn.csv
data/028_gaze_within_stim.csv
data/028_trials_with_present_gazedata_while_stimulus_on.csv
data/029_FirstGaze_stimOn.csv
data/029_gaze_within_stim.csv
data/029_trials_with_present_gazedata_while_stimulus_on.csv
data/030_FirstGaze_stimOn.csv
data/030_gaze_within_stim.csv
data/030_trials_with_present_gazedata_while_stimulus_on.csv
data/031_FirstGaze_stimOn.csv
data/031_gaze_within_stim.csv
data/031_trials_with_present_gazedata_while_stimulus_on.csv
data/032_FirstGaze_stimOn.csv
data/032_gaze_within_stim.csv
data/032_trials_with_present_gazedata_while_stimulus_on.csv
data/033_FirstGaze_stimOn.csv
data/033_gaze_within_stim.csv
data/033_trials_with_present_gazedata_while_stimulus_on.csv
data/034_FirstGaze_stimOn.csv
data/034_gaze_within_stim.csv
data/034_trials_with_present_gazedata_while_stimulus_on.csv
data/035_FirstGaze_stimOn.csv
data/035_gaze_within_stim.csv
data/035_trials_with_present_gazedata_while_stimulus_on.csv
data/036_FirstGaze_stimOn.csv
data/036_gaze_within_stim.csv
data/036_trials_with_present_gazedata_while_stimulus_on.csv
data/037_FirstGaze_stimOn.csv
data/037_gaze_within_stim.csv
data/037_trials_with_present_gazedata_while_stimulus_on.csv
data/gazedata_sub-003.csv
data/gazedata_sub-004.csv
data/gazedata_sub-005.csv
data/gazedata_sub-006.csv
data/gazedata_sub-007.csv
data/gazedata_sub-008.csv
data/gazedata_sub-009.csv
data/gazedata_sub-010.csv
data/gazedata_sub-011.csv
data/gazedata_sub-012.csv
data/gazedata_sub-013.csv
data/gazedata_sub-014.csv
data/gazedata_sub-015.csv
data/gazedata_sub-016.csv
data/gazedata_sub-017.csv
data/gazedata_sub-018.csv
data/gazedata_sub-019.csv
data/gazedata_sub-020.csv
data/gazedata_sub-021.csv
data/gazedata_sub-022.csv
data/gazedata_sub-023.csv
data/gazedata_sub-024.csv
data/gazedata_sub-025.csv
data/gazedata_sub-026.csv
data/gazedata_sub-027.csv
data/gazedata_sub-028.csv
data/gazedata_sub-029.csv
data/gazedata_sub-030.csv
data/gazedata_sub-031.csv
data/gazedata_sub-032.csv
data/gazedata_sub-033.csv
data/gazedata_sub-034.csv
data/gazedata_sub-035.csv
data/gazedata_sub-036.csv
data/gazedata_sub-037.csv
data/header_sub-032.csv
data/header_sub-036.csv
data/header_sub-037.csv
data/remove.gitignore
data/stamptime_sub-003.csv
data/stamptime_sub-004.csv
data/stamptime_sub-005.csv
data/stamptime_sub-006.csv
data/stamptime_sub-007.csv
data/stamptime_sub-008.csv
data/stamptime_sub-009.csv
data/stamptime_sub-010.csv
data/stamptime_sub-011.csv
data/stamptime_sub-012.csv
data/stamptime_sub-013.csv
data/stamptime_sub-014.csv
data/stamptime_sub-015.csv
data/stamptime_sub-016.csv
data/stamptime_sub-017.csv
data/stamptime_sub-018.csv
data/stamptime_sub-019.csv
data/stamptime_sub-020.csv
data/stamptime_sub-021.csv
data/stamptime_sub-022.csv
data/stamptime_sub-023.csv
data/stamptime_sub-024.csv
data/stamptime_sub-025.csv
data/stamptime_sub-026.csv
data/stamptime_sub-027.csv
data/stamptime_sub-028.csv
data/stamptime_sub-029.csv
data/stamptime_sub-030.csv
data/stamptime_sub-031.csv
data/stamptime_sub-032.csv
data/stamptime_sub-033.csv
data/stamptime_sub-034.csv
data/stamptime_sub-035.csv
data/stamptime_sub-036.csv
data/stamptime_sub-037.csv
